body {
  font-family: sans-serif;
  size: 120%;
  background-color: rgb(32, 33, 36);
  font-size: 14px;
}

.migrate {
  color: white;
  text-decoration: none;
}
.migrate:hover {
  text-decoration: underline;
}
.logo {
  display: block;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
}
